<div class="no-gutters" style="width: auto;height: auto">
                <tr>
                    <td>
                        <label>
                            <input type="radio" name="row-column" value="dummy" required>
                            <img src="{{url_for('static',filename='donkey.jpg')}}" alt="donkey" width="70px" height="70px" />
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="0">
                            <img src="{{url_for('static', filename='cat.png')}}" alt="cat"  width="70px" height="70px"/>
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="1">
                            <img src="{{url_for('static', filename='dog.jpg')}}" alt="dog"  width="70px" height="70px" />
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="2">
                            <img src="{{url_for('static', filename='fox.jpg')}}" alt="fox" width="70px" height="70px"/>
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="3">
                            <img src="{{url_for('static', filename='kangaroo.jpg')}}" alt="kangaroo" width="70px" height="70px">
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="4">
                            <img src="{{url_for('static', filename='lamb.jpg')}}" alt="lamb" width="70px" height="70px"/>
                        </label>
                    </td>
                </tr><br>

                <tr>
                    <td>
                        <label>
                            <input type="radio" name="row-column" value="0">
                            <img src="{{url_for('static',filename='panda.jpg')}}" alt="panda" width="70px" height="70px" />
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="00">
                            <img src="https://source.unsplash.com/1600x900/?animal" alt="animal" width="70px" height="70px" />
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="10">
                            <img src="https://source.unsplash.com/1600x900/?animal1" alt="animal" width="70px" height="70px"/>
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="20">
                            <img src="https://source.unsplash.com/1600x900/?animal2" alt="animal" width="70px" height="70px"/>
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="30">
                            <img src="https://source.unsplash.com/1600x900/?animal3" alt="animal" width="70px" height="70px" />
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="40">
                            <img src="https://source.unsplash.com/1600x900/?animal4" alt="animal" width="70px" height="70px"/>
                        </label>
                    <td>
                </tr><br>
                <tr>
                    <td>
                        <label>
                            <input type="radio" name="row-column" value="1">
                            <img src="{{url_for('static',filename='pig.jpg')}}" alt="pig" width="70px" height="70px"/>
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="01">
                            <img src="https://source.unsplash.com/1600x900/?animal5" alt="animal" width="70px" height="70px"/>
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="11">
                            <img src="https://source.unsplash.com/1600x900/?animal6" alt="animal" width="70px" height="70px" />
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="21">
                            <img src="https://source.unsplash.com/1600x900/?animal7" alt="animal" width="70px" height="70px" />
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="31">
                            <img src="https://source.unsplash.com/1600x900/?animal8" alt="animal" width="70px" height="70px" />
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="41">
                            <img src="https://source.unsplash.com/1600x900/?animal9" alt="animal" width="70px" height="70px"/>
                        </label>
                    </td>
                </tr><br>
                <tr>
                    <td>
                        <label>
                            <input type="radio" name="row-column" value="2">
                            <img src="{{url_for('static',filename='rhino.jpg')}}" alt="rhino" width="70px" height="70px"/>
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="20">
                            <img src="https://source.unsplash.com/1600x900/?animal10" alt="animal" width="70px" height="70px" />
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="21">
                            <img src="https://source.unsplash.com/1600x900/?animal11" alt="animal" width="70px" height="70px"/>
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="22">
                            <img src="https://source.unsplash.com/1600x900/?animal12" alt="animal" width="70px" height="70px"/>
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="32">
                            <img src="https://source.unsplash.com/1600x900/?animal13" alt="animal" width="70px" height="70px" />
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="42">
                            <img src="https://source.unsplash.com/1600x900/?animal14" alt="animal" width="70px" height="70px" />
                        </label>
                    <td>
                </tr><br>
                <tr>
                    <td>
                        <label>
                            <input type="radio" name="row-column" value="3">
                            <img src="{{url_for('static',filename='tiger.jpg')}}" alt="tiger" width="70px" height="70px"/>
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="03">
                            <img src="https://source.unsplash.com/1600x900/?animal15" alt="animal" width="70px" height="70px"/>
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="13">
                            <img src="https://source.unsplash.com/1600x900/?animal16" alt="animal" width="70px" height="70px" />
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="23">
                            <img src="https://source.unsplash.com/1600x900/?animal17" alt="animal" width="70px" height="70px" />
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="33">
                            <img src="https://source.unsplash.com/1600x900/?animal18" alt="animal" width="70px" height="70px"/>
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="43">
                            <img src="https://source.unsplash.com/1600x900/?animal19" alt="animal" width="70px" height="70px" />
                        </label>
                    <td>
                </tr><br>
                <tr>
                    <td>
                        <label>
                            <input type="radio" name="row-column" value="4">
                            <img src="{{url_for('static',filename='ziraffe.jpg')}}" alt="ziraffe" width="70px" height="70px"/>
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="04">
                            <img src="https://source.unsplash.com/1600x900/?animal20" alt="animal" width="70px" height="70px" />
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="14">
                            <img src="https://source.unsplash.com/1600x900/?animal21" alt="animal" width="70px" height="70px" />
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="24">
                            <img src="https://source.unsplash.com/1600x900/?animal22" alt="animal" width="70px" height="70px"/>
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="34">
                            <img src="https://source.unsplash.com/1600x900/?animal23" alt="animal" width="70px" height="70px"/>
                        </label>
                        <label>
                            <input type="radio" name="row-column" value="44">
                            <img src="https://source.unsplash.com/1600x900/?animal24" alt="animal" width="70px" height="70px"/>
                        </label>
                    <td>
                </tr><br>




</div>



<style>
    [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
            /* IMAGE STYLES */
    [type=radio] + img {
        box-shadow: 3px 3px 5px dimgray;
        cursor: pointer;
        border: 2px solid lightcoral;
        padding: 1px;
        display: block;
        position: relative;
        margin: 3px;
        border-radius: 5px;
    }
            /* CHECKED STYLES */
    [type=radio]:checked + img {
        border: 3px solid green;
        border-radius: 5px;
        -moz-outline-radius: 5px;
    }


</style>
