{% for row in images %}
<div class="row no-gutters" style="width: auto;height: auto">
    {% for password in row %}
        <div class="col-2 no-gutters">
            <label class="label_passwd">
                <input type="checkbox" id="checkbox" name="password" value="{{password}}" />
            <img class="img" src="static/images/{{password}}.png" alt="{{password}}.png"/>
            </label>
            </div>
        {% endfor %}

</div>
    {% endfor %}
<style>
    [id=checkbox] {
        display: none;
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
            /* IMAGE STYLES */
    [id=checkbox] + img {
        box-shadow: 3px 3px 5px dimgray;
        border: 2px solid lightcoral;
        padding: 1px;
        display: block;
        position: relative;
        margin: 3px;
        cursor: pointer;
        border-radius: 5px;
        height: 60px;
        width: 60px;
    }
            /* CHECKED STYLES */
    [id=checkbox]:checked + img {
        border: 2px solid green;
        border-radius: 5px;
        -moz-outline-radius: 5px;
    }
</style>