<div class="column no-gutters" style="width: auto;height: auto">
                <label>
                    <input type="radio" name="row" value="0" required>
                    <img src="{{url_for('static', filename='cat.png')}}" alt="cat" width="80px" height="80px" />
                </label>
                <label>
                    <input type="radio"  name="row" value="1">
                    <img src="{{url_for('static', filename='dog.jpg')}}" alt="dog"  width="80px" height="80px" />
                </label>
                <label>
                    <input type="radio"  name="row" value="2">
                    <img src="{{url_for('static', filename='fox.jpg')}}" alt="fox"  width="80px" height="80px" />
                </label>
                <label>
                    <input type="radio" name="row" value="3">
                    <img src="{{url_for('static', filename='kangaroo.jpg')}}" alt="kangaroo" width="80px" height="80px"/>
                </label>


                <label>
                    <input type="radio" name="row" value="4">
                    <img src="{{url_for('static', filename='lamb.jpg')}}" alt="lamb"  width="80px" height="80px" />
                </label>
</div>

<div class="column no-gutters" style="width: auto;height: auto" >

               <label>
                    <input type="radio"  name="column" value="0" required>
                    <img src="{{url_for('static',filename='panda.jpg')}}" alt="panda"  width="80px" height="80px" />
                </label>
                <label>
                    <input type="radio" name="column" value="1">
                    <img src="{{url_for('static',filename='pig.jpg')}}" alt="pig"  width="80px" height="80px" />
                </label>
                <label>
                    <input type="radio" name="column" value="2">
                    <img src="{{url_for('static',filename='rhino.jpg')}}" alt="rhino" width="80px" height="80px"/>
                </label>
                <label>
                    <input type="radio" name="column" value="3">
                    <img src="{{url_for('static',filename='tiger.jpg')}}" alt="tiger"  width="80px" height="80px"/>
                </label>
                <label>
                    <input type="radio" name="column" value="4">
                    <img src="{{url_for('static',filename='ziraffe.jpg')}}" alt="ziraffe"  width="80px" height="80px" />
                </label>
</div>

<style>
    [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
            /* IMAGE STYLES */
    [type=radio] + img {
        box-shadow: 3px 3px 5px dimgray;
        cursor: pointer;
        border: 3px solid lightcoral;
        padding: 1px;
        display: block;
        position: relative;
        margin: 3px;
        border-radius: 5px;
    }
            /* CHECKED STYLES */
    [type=radio]:checked + img {
        border: 3px solid green;
        border-radius: 5px;
    }
        [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
</style>